.ui-header {
    border: 0;
}

.ui-bar-a ul {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    border-width: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .14);
}

.ui-bar-a li {
    border-right: 1px;
}

.ui-bar-a li .ui-btn {
    border-width: 0;
    border-radius: 0;
    background-color: #58B073 !important;
}

.ui-bar-a li .ui-btn:hover {
    background-color: #40AB61;
    text-shadow: none;
}

.ui-content .sub-navbar {
    height: 3em;
    line-height: 3em;
    padding-left: 1.5em;
    margin: 1em 0 0;
    background-color: #eee;
    border-left: 5px solid #58B073;
}

.ui-listview {
    box-shadow: none;
    border: 0;
    border-radius: 0;
    margin-top: 5px !important;
}

.ui-listview > li:first-child > .ui-btn {
    border-top: 0 !important;
}

.ui-listview > li:last-child > .ui-btn {
    border-bottom: 0 !important;
}

.ui-listview > li > .ui-btn {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    /*border-bottom: 1px solid  !important;*/
    border-radius: 0;
    border-color: rgba(0, 0, 0, .14);
    padding: 0 !important;
}

.ui-listview > li > .ui-btn > sub {
    display: block;
    text-align: left;
    font-weight: normal;
    color: rgba(0, 0, 0, .54);
    margin: 1em 0 0.5em;
    max-width: 70%;
}

.ui-footer {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, .26);
    border-top: 1px solid rgba(0, 0, 0, .14);
}

.ui-footer .ui-btn {
    display: block;
    margin: 0;
    border: 0;
}

/**
* Text styles for all levels in html doc
**/
.ui-header .ui-text-header {
    color: rgba(255, 255, 255, .87) !important;
    font-size: 1.1em !important;
    font-weight: normal !important;
    text-shadow: none !important;
}

.ui-header .ui-text-menuicon-caption {
    color: rgba(255, 255, 255, .87) !important;
    font-weight: normal;
    text-shadow: none !important;
}

/* The text style for button "previous page" */
.ui-header .ui-text-prev-page {
    text-align: left;
}

.ui-content .ui-text-subheader {
    font-size: 1em;
    color: rgba(0, 0, 0, .54);
}

.ui-content .ui-text-summary {
    max-height: 5em;
    min-height: 3em;
    height: 5em;
    padding: 1em .5em;
    width: 100%;
    border-left: 1px solid rgba(0, 0, 0, .05);
    background-color: rgba(0, 0, 0, .14);
    color: rgba(0, 0, 0, .87);
}

.ui-footer .ui-text-footer {
    color: rgba(0, 0, 0, .87) !important;
    font-size: 1.1em !important;
    font-weight: normal !important;
    text-shadow: none !important;
}

/**
* Image styles for all levels in size
**/
img.ui-img-jumbotron {
    display: block;
    position: relative !important;
    margin: 1em 0;
    max-height: 10em !important;
}

img.ui-img-thumbnail {

}

img.ui-img-icon {

}