.ui-content .sub-navbar {
    height: 3em;
    line-height: 3em;
    padding-left: 1.5em;
    margin: 4% 2% 0 !important;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, .14);
    border-left: 7px solid #58B073;
}

/**********************************
**  Styles for list with jumbotron images/content
***********************************/
.ul-jumbotron > li {
    padding: 3% 0;
    border-bottom: 1px solid #BBB;
    border-left: 0;
    border-right: 0;
}

.ul-jumbotron > li.ui-last-child {
    border-bottom: 0;
}

/** jumbotron style as shown in homepage **/
.ui-listview > li > a.li-link-jumbotron {
    padding: 0 !important;
    border: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    background-color: #eee !important;
}

.ui-listview > li > a.li-link-jumbotron footer {
    margin: 0px;
    padding: .7em 1em;
    color: rgba(0, 0, 0, .54);
    text-align: left;
    text-shadow: none;
    text-decoration: none;
    font-weight: bold;
}

.ui-listview > li > a.li-link-jumbotron img {
    max-width: 100% !important;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

/**
* Style of the form control of select
**/
.ui-content fieldset.container-recipe-select {
    padding: 0;
    margin-bottom: 5px;
}

.ui-content fieldset.container-recipe-select div.ui-select {
    margin-top: 0;
    margin-bottom: 10px;
}

.ui-content fieldset.container-recipe-select div.ui-select a {
    border-radius: 0;
    box-shadow: 0 0 0;
}

.ui-listview input[type="checkbox"] {
    padding: 0 5px;
    vertical-align: middle;
}

/**********************************
**  Styles for list items with form controls, i.e., checkbox, radio, text
***********************************/
.li-with-formcontrol {
    padding-left: 2.8em;
}

.li-with-formcontrol div.ui-checkbox {
    position: static;
    margin: 0;
}

.li-with-formcontrol div.ui-checkbox input {
    margin-left: 4px;
}

.li-with-formcontrol img {
    position: static;
    display: inline;
    vertical-align: middle;
}

.li-with-formcontrol p {
    display: inline;
}

.li-with-formcontrol span {
    display: inline-block;
}

.ui-listview .text-ingredient-name {
    width: 30%;
    padding-left: 5px;
}

.ui-listview .text-ingredient-weight {
    width: 10%;
}

.ui-listview .text-ingredient-instock {
    width: 20%;
    text-align: right;
    color: blue;
}