/**********************************
**  Global styles
**
**  border-color:               #dfdfdf
**  base-bg-color:              #eee
**  top-bg-color:               #fefefe
**  list-margin-top-bottom:     10px
**  list-padding-left-right:    10px
**  list-padding-top-bottom:    15px
**  list-font-size-paragraph:   .8em
***********************************/
.ui-content {
    padding: 0;
    border: 0;
    margin: 0;
}

.ui-listview {
    box-shadow: none;
    border: 0;
    border-radius: 0;
    margin: 0 !important;
    padding: 0 !important;
}

.bg-color-gray {
    background-color: #eee !important;
}

.ui-li-text-middle {
    line-height: 1em;
    height: 1em;
}

.ui-header {
    border: 0;
}

.ui-bar-a ul {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    border-width: 0;
    border-bottom: 1px solid #dfdfdf;
}

.ui-bar-a li {
    border-right: 1px;
}

.ui-bar-a li .ui-btn {
    border-width: 0;
    border-radius: 0;
    background-color: #58B073 !important;
}

.ui-bar-a li .ui-btn:hover {
    background-color: #40AB61;
    text-shadow: none;
}

/**********************************
**  Styles for list with common list view
***********************************/
.ui-text-listview-header {
    margin-left: 10px;
    padding: 15px 0 5px;
    color: #333;
    font-size: .8em;
}

.ui-listview {
    background-color: #FEFEFE;
}

.ui-listview > li {
    padding: 15px 10px !important;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
    background-color: #FEFEFE;
}

li.ui-first-child {
    border-top: 1px solid #dfdfdf;
}

.ui-listview > li .ui-btn {
    padding: 0;
    margin: 0;
    border: 0 !important;
    background-color: #FEFEFE !important;
}

.ui-listview > li > .ui-btn img {
    max-width: 100% !important;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.ui-listview > li > .ui-btn footer {
    margin: 0;
    padding: .7em 1em;
    color: #666;
    background-color: #FEFEFE;
    text-align: left;
    text-shadow: 0 /*{a-page-shadow-x}*/ 1px /*{a-page-shadow-y}*/ 0 /*{a-page-shadow-radius}*/ #f3f3f3 /*{a-page-shadow-color}*/;
    text-decoration: none;
    font-weight: bold;
}

/**********************************
**  Footer styles
***********************************/
.ui-footer {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, .26);
    border-top: 1px solid #dfdfdf;
}

.ui-footer .ui-btn {
    display: block;
    margin: 0;
    border: 0;
}

.footer-empty {
    box-shadow: 0 0 0;
    border: 0;
    margin: 0;
}

/**********************************
**  Text styles
***********************************/
.ui-header .ui-text-header {
    color: rgba(255, 255, 255, .87) !important;
    font-size: 1.1em !important;
    font-weight: normal !important;
    text-shadow: none !important;
}

.ui-btn-active {
    text-shadow: none !important;
    text-decoration: none;
}

.ui-header .ui-text-menuicon-caption {
    color: rgba(255, 255, 255, .87) !important;
    font-weight: normal;
    text-shadow: none !important;
}

/* The text style for button "previous page" */
.ui-header .ui-text-prev-page {
    text-align: left;
}

.ui-content .ui-text-subheader {
    font-size: 1.1em;
    color: #666;
}

.ui-content .ui-text-summary-wrapper {
    padding: 0 10px;
    border: 1px solid #dfdfdf /*{a-bup-border}*/;
    margin: 0;
    margin-bottom: 10px !important;
    background-color: #FEFEFE;
}

.ui-content .ui-text-summary-wrapper header {
    padding-top: 15px;
    font-weight: bold;
    background-color: #FEFEFE;
    color: #666;
    text-shadow: none;
}

.ui-content .ui-text-summary-wrapper .ui-text-summary {
    max-width: 100%;
    min-height: 3em;
    padding: 10px 0;
    margin: 0;
    background-color: #FEFEFE /*{a-bup-background-color}*/;
    color: rgba(0, 0, 0, .87);
    text-shadow: none;
}

.ui-content .ui-text-summary aside {
    padding: 0;
    margin: 10px 0 0;
    font-size: 0.8em;
    color: #666;
}

.ui-content .ui-text-price {
    text-align: left;
    color: RED;
}

.ui-footer .ui-text-footer {
    color: rgba(0, 0, 0, .87) !important;
    font-size: 1.1em !important;
    font-weight: normal !important;
    text-shadow: none !important;
}

/**********************************
**  Image styles
***********************************/
img.img-jumbotron {
    display: block;
    position: relative !important;
    margin: 0;
    max-height: 10em !important;
    width: 100%;
}

img.ui-img-thumbnail {
    margin: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

img.ui-img-icon {

}


/**
** Style for the images sliding
**/
.slider-wrapper {
    height: 20%;
}

.slider-wrapper .nivoSlider {
    margin: 0;
}


/**
** custom icons for the jquery mobile
**/
/*.ui-collapsible-heading-toggle {
    height: 30px;
    *//*margin: -3px; *//**//*Modify to change icon position wrt the header*//*
    *//*border: none !important;*//*
}*/

.ui-head-searchform .ui-controlgroup-controls {
    width: 100%;
}

.ui-head-searchform .ui-input-text{
    float: left;
    width: 63%;
    margin: 0 10px;
}

.ui-head-searchform a {
    margin: 0 .6em !important;
    padding: .8em 2em;
}

.ui-collapsible-inset, .ui-collapsible-set {
    margin: 0.8em 0;
}

.ui-collapsible-search .ui-btn-icon-left {
    padding-left: 3.5em;
}

.ui-icon-search-dishtype:after {
    /*background-size: 50px 50px;*/
    background: url(../images/slide_pic01.jpg) center center no-repeat;
    background-size: cover;
    width: 42px;
    height: 42px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px;
    top: 27%;
    left: 0;
}

.ui-icon-search-people:after {
    background: url(../images/slide_pic02.jpg) center center no-repeat;
    background-size: cover;
    width: 42px;
    height: 42px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px;
    top: 27%;
    left: 0;
}

.ui-icon-search-bodytiaoli:after {
    background: url(../images/slide_pic03.jpg) center center no-repeat;
    background-size: cover;
    width: 42px;
    height: 42px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px;
    top: 27%;
    left: 0;
}

.ui-icon-search-jibingtiaoli:after {
    background: url(../images/slide_pic01.jpg) center center no-repeat;
    background-size: cover;
    width: 42px;
    height: 42px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px;
    top: 27%;
    left: 0;
}

.ui-icon-search-diffculty:after {
    background: url(../images/slide_pic02.jpg) center center no-repeat;
    background-size: cover;
    width: 42px;
    height: 42px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px;
    top: 27%;
    left: 0;
}